---
---

<div class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <label for="email" class="text-base-content text-sm font-bold">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      class="input input-bordered input-primary w-full"
      placeholder="Your email"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="name" class="text-base-content text-sm font-bold">Name</label>
    <input
      type="text"
      name="name"
      id="name"
      class="input input-bordered input-primary w-full"
      placeholder="Your name"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="message" class="text-base-content text-sm font-bold">
      Message
    </label>
    <textarea
      name="message"
      id="message"
      class="textarea textarea-bordered h-24 w-full"
      placeholder="Your message"
    ></textarea>
  </div>
  <button
    type="submit"
    class="btn btn-primary w-full"
    style="background-color: #c49800"
  >
    Send
  </button>
</div>