---
---

<footer class="bg-base-200 text-base-content">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="grid grid-cols-1 justify-items-center items-center gap-8 md:grid-cols-2">
        <a href="/">
          <img src="/logo-round.webp" alt="logo" width="200" height="200" />
        </a>
        <ul class="grid grid-cols-1 order-last md:grid-cols-2 md:order-none gap-y-2 gap-x-16">
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/core-beliefs/">Core Beliefs</a></li>
          <li><a href="/services/">Services</a></li>
          <li><a href="/programs/">Programs</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/community/">Community</a></li>
        </ul>
        <p class="text-center">© 2025 Play at WOW. All rights reserved.</p>
        <a href="/contact" data-theme="light" class="btn btn-block btn-primary max-w-[200px] self-center">Contact</a>
    </div>
  </div>
</footer>