---
const { pathname } = Astro.url;
---

<footer class="bg-base-200 text-base-content">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="grid grid-cols-1 justify-items-center items-center gap-8 md:grid-cols-2">
        <a href="/">
          <img src="/logo-round.webp" alt="logo" width="200" height="200" />
        </a>
        <ul class="grid grid-cols-1 order-last md:grid-cols-2 md:order-none gap-y-2 gap-x-16">
          <li><a class={`${pathname === "/" ? "underline" : "no-underline"}`} href="/">Home</a></li>
          <li><a class={`${pathname.replace(/\/$/, "") === "/about" ? "underline" : "no-underline"}`} href="/about">About</a></li>
          <li><a class={`${pathname.replace(/\/$/, "") === "/core-beliefs" ? "underline" : "no-underline"}`} href="/core-beliefs">Core Beliefs</a></li>
          <li><a class={`${pathname.replace(/\/$/, "") === "/services" ? "underline" : "no-underline"}`} href="/services">Services</a></li>
          <li><a class={`${pathname.replace(/\/$/, "") === "/programs" ? "underline" : "no-underline"}`} href="/programs">Programs</a></li>
          <li><a class={`${pathname.replace(/\/$/, "") === "/blog" ? "underline" : "no-underline"}`} href="/blog">Blog</a></li>
          <li><a class={`${pathname.replace(/\/$/, "") === "/community" ? "underline" : "no-underline"}`} href="/community">Community</a></li>
        </ul>
        <p class="text-center">© 2025 Play at WOW. All rights reserved.</p>
        <a href="/contact" data-theme="light" class="btn btn-block btn-primary max-w-[200px] self-center">Contact</a>
    </div>
  </div>
</footer>