---
// Static pathname logic is needed to determine which navigation item is underlined upon initial page load/reload
const { pathname } = Astro.url;
---

<nav class="navbar sticky top-0 z-50 bg-base-100 pr-8 shadow-lg">
  <div class="flex-none">
    <a href="/">
      <img src="/logo-round.webp" alt="logo" width="100" height="100" />
    </a>
  </div>
  <ul class="ml-auto hidden lg:flex">
    <li><a href="/" class={`${pathname === "/" ? "underline" : "no-underline"} btn btn-link text-black hover:text-[#c49800] normal-case text-xl`}>Home</a></li>
    <li><a href="/about" class={`${pathname === "/about" ? "underline" : "no-underline"} btn btn-link text-black hover:text-[#c49800] normal-case text-xl`}>About</a></li>
    <li><a href="/core-beliefs" class={`${pathname === "/core-beliefs" ? "underline" : "no-underline"} btn btn-link text-black hover:text-[#c49800] normal-case text-xl`}>Core Beliefs</a></li>
    <li><a href="/services" class={`${pathname === "/services" ? "underline" : "no-underline"} btn btn-link text-black hover:text-[#c49800] normal-case text-xl`}>Services</a></li>
    <li><a href="/programs" class={`${pathname === "/programs" ? "underline" : "no-underline"} btn btn-link text-black hover:text-[#c49800] normal-case text-xl`}>Programs</a></li>
    <li><a href="/blog" class={`${pathname === "/blog" ? "underline" : "no-underline"} btn btn-link text-black hover:text-[#c49800] normal-case text-xl`}>Blog</a></li>
    <li><a href="/community" class={`${pathname === "/community" ? "underline" : "no-underline"} btn btn-link text-black hover:text-[#c49800] normal-case text-xl`}>Community</a></li>
  </ul>
  <!-- Mobile menu toggle -->
  <div class="drawer drawer-end lg:hidden">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content ml-auto">
      <!-- Page content here -->
      <label for="my-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block h-16 w-16 stroke-current"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </label>
    </div>
    <div class="drawer-side">
      <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
        <!-- Sidebar content here -->
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/core-beliefs">Core Beliefs</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/programs">Programs</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/community">Community</a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
  // Controls which navigation item is underlined upon page change
  // Details found at: https://github.com/swup/astro?tab=readme-ov-file#access-to-the-swup-instance
  const setup = () => {
    const swup = (window as typeof window & { swup: import('swup').default }).swup;
    swup.hooks.on('visit:start', (visit) => {
      const previousPage = visit.from.url
      const previousNavigation = document.querySelector(`li a[href="${previousPage}"]`)
      if (previousNavigation) {
        previousNavigation.classList.remove('underline')
        previousNavigation.classList.add('no-underline')
      }
      const currentPage = visit.to.url
      const currentNavigation = document.querySelector(`li a[href="${currentPage}"]`)
      if (currentNavigation) {
        currentNavigation.classList.remove('no-underline')
        currentNavigation.classList.add('underline')
      }
      console.log("Previous page", previousPage)
      console.log("Previous navigation", previousNavigation)
      console.log("Current page", currentPage)
      console.log("Current navigation", currentNavigation)
    })
  }
  if ("swup" in window) {
    setup()
  } else {
    document.addEventListener('swup:enable', setup)
  }
</script>