---
---

<nav class="navbar sticky top-0 z-50 bg-base-100 shadow-lg">
  <div class="flex-none">
    <a href="/">
      <img src="/logo.webp" alt="logo" width="100" height="100" />
    </a>
  </div>
  <div class="ml-auto">
    <a href="/" class="btn btn-ghost normal-case text-xl">Home</a>
    <a href="/about" class="btn btn-ghost normal-case text-xl">About</a>
    <a href="/core-beliefs" class="btn btn-ghost normal-case text-xl">Core Beliefs</a>
    <a href="/services" class="btn btn-ghost normal-case text-xl">Services</a>
    <a href="/programs" class="btn btn-ghost normal-case text-xl">Programs</a>
    <a href="/blog" class="btn btn-ghost normal-case text-xl">Blog</a>
    <a href="/community" class="btn btn-ghost normal-case text-xl">Community</a>
  </div>
</nav>