---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import "@styles/global.css";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Play at WOW</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	/* Prevent horizontal layout shift on pages with no scroll bar */
  :root {
		scrollbar-gutter: stable;
	}
	body {
		--swup-fade-theme-duration: 0.3s;
	}
</style>
